.layout-with-sidebar {
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: var(--spacing-lg);
    padding-top: var(--spacing-md);
    align-items: start;
    align-content: start;
}

@media (max-width: 1000px) {
    .layout-with-sidebar {
        grid-template-columns: 1fr;
    }
    .layout-with-sidebar #sidebar {
        display: none;
    }
    .main-panel {
        overflow-x: hidden;
    }
}

.main-panel {
    min-width: 0;

    .layout-slot {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-lg);
    }
}
